PORT=5002
NODE_ENV=development

REDIS_URL=redis://127.0.0.1:6379
MONGO_URI=mongodb://127.0.0.1/FutureFirst?retryWrites=true&w=majority

JWT_SECRET=aabbccddeeff11223344
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=30

